/* ====== CONTAINER PRINCIPAL ====== */
.contato-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
}

/* ====== TÍTULO ====== */
.contato-container h1 {
    font-size: 32px;
    color: #7A6FBF;
    text-align: center;
    margin-bottom: 25px;
}

/* ====== FORM ====== */
.form-contato {
    background: #faf7ff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(123, 66, 185, 0.15);
    border: 1px solid #e6d8ff;
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid label {
    font-weight: bold;
    color: #7A6FBF;
}

.form-grid input,
.form-grid select,
.form-grid textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c7b4ff;
    border-radius: 8px;
    font-size: 15px;
    background: #ffffff;
    outline: none;
    transition: 0.2s;
}

.form-grid input:focus,
.form-grid textarea:focus,
.form-grid select:focus {
    border-color: #8b3dff;
    box-shadow: 0 0 5px 7A6FBF;
}

/* TEXTAREA EM FULL WIDTH */
#mensagem {
    grid-column: span 2;
}

/* ANEXO EM FULL */
#arquivo {
    grid-column: span 2;
}

/* CHECKBOX */
.checkbox {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* RADIO */
.radios {
    display: flex;
    gap: 10px;
}

/* BOTÕES */
.form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.btn {
    background: #7A6FBF;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #82799c;
}

.btn.secundario {
    background: #d8c7ff;
    color: #7A6FBF;
}

.btn.secundario:hover {
    background: #c4b0ff;
}
